<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stu.web.class_course.mapper.ClassCourseMapper">
    <select id="getCourseList" resultType="com.stu.web.class_course.entity.ClassCourseVo">
        select cc.class_course_id,sc.class_id,cc.course_id,cc.course_year,cc.type,scc.course_name,sc.class_name from school_class as sc
        inner join class_course as cc on cc.class_id = sc.class_id
        inner join school_course as scc  on scc.course_id = cc.course_id
        where 1=1
         <if test="parm.courseName != null and parm.courseName != ''">
            and scc.course_name like concat('%',#{parm.courseName},'%')
        </if>
        <if test="parm.classId != null and parm.classId != ''">
            and sc.class_id =#{parm.classId}
        </if>
        order by cc.course_year desc
    </select>
    <select id="getTeacherCourse" resultType="com.stu.web.class_course.entity.ClassCourse">
        select cc.*,sc.course_name,scc.class_name,scc.class_year from class_course as cc
        inner join school_course as sc on sc.course_id = cc.course_id
        inner join school_class  as scc on scc.class_id = cc.class_id
        where cc.teacher_id =#{parm.teacherId}
        <if test="parm.className != null and parm.className != ''">
            and scc.class_name like concat('%',#{parm.className},'%')
        </if>
        order by scc.class_year desc,cc.course_year desc,cc.type asc
    </select>
</mapper>